# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/artifacts/
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
out/
src/test/
target/
toolsclient.iml
